*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-color: #303030;
	--light-background-color:#424242;
	--dark-background-color:#212121;
	--highlight-color: #1da8df;
	--highlight-color-second: #dfd21d;
	--text-color: rgb(225, 236, 230);
	--warning-color: #bc60e7;
	--penalty: rgb(238, 79, 87);


	--skill-highlight: var(--highlight-color-second);
}

@font-face {
	font-family: "Moonrising";
	src: 
		local("Moonrising")
}

body {
	font-family: 'Moonrising';
	cursor: default;
	background-color: var(--background-color);
	color: var(--text-color);
}

body * {
	scrollbar-width: thin;
}

dialog {
	z-index: 100;
}

.name {
	margin-top: 5px;
	margin-bottom: 10px;
}

.bordered {
	border: var(--highlight-color) 3px solid;
	border-radius: 10px;
	padding: 10px;
}

button {
	border: unset;
	border-radius: 3px;
	margin: 2px;
	font-family: inherit;
	font-size: inherit;
	padding: 2px 4px 2px 4px;
	color: var(--text-color);
	background-color: var(--highlight-color);
}

button:hover {
	background-color: var(--highlight-color-second);
	color: var(--dark-background-color);
}

select {
	background-color: var(--highlight-color);
	border: unset;
	border-radius: 5px;
	color: var(--dark-background-color);
	font-size: medium;
	font-family: inherit;
}

select:hover {
	background-color: var(--highlight-color-second);
}

input {
	font-family: inherit;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.justify_center {
	justify-content: center;
}

.base_div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.columns {
	display: flex;
	gap: 10px;
}

.left_column {
	@extend .bordered;
	max-height: 85vh;
	overflow-y: scroll;
	scrollbar-width: thin;
	border-right: unset;
	min-width: fit-content;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	background-color: var(--dark-background-color);

}

.skill_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.center_div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;
	flex-basis: 5;
}

.right_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 1;
	flex-basis: 0;
}

.has_penalty {
	color: var(--penalty);
}

.stat_view {
	@extend .bordered;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: auto;
	max-width: fit-content;

	::selection {
		color: inherit;
	}
}

.stat_entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-background-color);
	border-radius: 5px;
	padding: 5px;
}

.skill_list {
	display: grid;
	grid-template-columns: 3fr 0.5fr;
	gap: 2px;
}

.skill_list_cat_header {
	grid-column-start: span 2;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-self: center;
}

.skill_entry_name {
	justify-self: flex-start
}

.skill_entry_name:hover {
	color: var(--skill-highlight);
}

.skill_entry_name:hover + .skill_entry_value {
	color: var(--skill-highlight);
}

.skill_entry_name:has(+ .skill_entry_value:hover) {
	color: var(--skill-highlight);
}

.skill_entry_value:hover {
	color: var(--skill-highlight);
}

/* .skill_entry_stat {
	justify-self: center;
} */

.skill_entry_value {
	justify-self: flex-end;
}

.ammo_icon {
	width: 100px;
	height: 500px;
}

.ammo_bullet {
	fill: var(--highlight-color);
}


.health_commons {
	width: 100%;
	height: 40px;
	padding: 5px;
}

.health_border {
	@extend .health_commons;
	display: grid;
	background-color: var(--light-background-color);
	gap: 5px;
	overflow: hidden;
}

.health_text {
	@extend .health_commons;
	z-index: 10;
	text-align: center;
	margin-top: -40px;
	font-size: large;
}

.health_bar {
	background-color: var(--highlight-color);
}

.health_bar_half_health {
	background-color: var(--warning-color);
}

.first_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.head_body_armor {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.armor_row {
	display: grid;
	height: 30px;
	gap: 5px;
	transform: skew(-10deg);
}

.armor_text {
	text-align: end;
	transform: skew(-10deg);
	margin-right: 5px;
}

.armor_bar {
	width: 20px;
	background-color: var(--highlight-color-second);
	border-color: var(--highlight-color-second);
}

.head_armor_bar {
	@extend .armor_bar;
	background-color: var(--warning-color);
	border-color: var(--warning-color);
}

.armor_bar_empty {
	background-color: unset;
	border-width: 2px;
	border-style: dashed;
}

.modal {
	display:flex;
	top:0;
	left:0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
	padding: 1%;
	align-items: center;
	justify-content: center;
}

.modal_content {
	width: 90vw;
	height: 90vh;
	background-color: var(--light-background-color);
	padding: 1.5rem;
	border-radius: 0.7rem;
	overflow: hidden;

	> hr {
		margin-bottom:5px;
	}
}

.tabs_list {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	flex-wrap: wrap;
}

.tab {
	padding: 5px;
	background-color: var(--highlight-color);
}

.tab:hover {
	background-color: var(--warning-color);
}

.selected_tab {
	background-color: var(--highlight-color-second);
	color: var(--dark-background-color);
}

.selected_tab:hover {
	background-color: var(--dark-background-color);
	color: var(--warning-color);
}

.money {
	font-size: x-large;
	background-color: var(--highlight-color-second);
	color: var(--dark-background-color);
	padding: 5px;
	white-space: nowrap;
}

.money::after {
	content: " eb";
}

.modal div:has(> .money) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.money_input {
	max-width: 70px;
	text-align: center;
}


.name_list_wrapper {
	overflow-y: scroll;
	scrollbar-width: auto;
	flex-shrink: 0;
	min-height: 0;
	height: 100%;
	border-right: 2px solid var(--highlight-color-second);
	padding-right: 10px;
}

.name_list {
	display: grid;
	grid-template-rows: 1fr;
	gap: 2px;
	width: 20vw;

	span {
		padding: 5;

	}

	span:hover {
		background-color: var(--warning-color);
	}
	
	.span_selected {
		background-color: var(--highlight-color-second);
		color: var(--dark-background-color);
	}
	
	.span_selected:hover {
		background-color: var(--dark-background-color);
		color: var(--warning-color);
	}
}

.shop_content {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: flex-start;
	min-height: none;
	min-width: none;
	height: 90%;
	overflow: hidden;
}

.selected_store_item {
	flex-grow: 1;
}

.shop_item_header_part {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.shop_item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-grow: 1;

	p {
		margin:unset;
	}
}

.shop_bottom_row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;	
	align-items: stretch;
}

.shop_buttons_row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;
	margin-top: -32px;
}

.char_image {
	@extend .bordered;
	padding: unset;
	border-color: var(--warning-color);
	border-radius: 5;
	max-height: 50vh;
}

.weapon_view {
	display: grid;
	grid-template-columns: 225 0.5fr 0.5fr 0.5fr 1fr 1fr;
	gap: 10px;
	background-color: var(--light-background-color);
	align-items: center;
	padding: 5px;
	border-radius: 5;
}

.weapon_bonus {
	text-align: center;
}

.weapon_rof {
	text-align: center;
}

.weapon_damage {
	text-align: center;
}

.weapon_ammo {
	display: flex;
	justify-content: center;
}

.ammo_svg {
	width: 50px;
}

.center_div_first_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.armor_selection {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.body_armor_select {
	background-color: var(--highlight-color-second);
}

.body_armor_select:hover {
	color: var(--highlight-color-second);
	background-color: var(--dark-background-color);
}

.head_armor_select{
	background-color: var(--warning-color);
}

.head_armor_select:hover{
	background-color: var(--dark-background-color);
	color: var(--warning-color);
}

.single_armor_selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 3px;
	> * {
		height: 24px;
	}
}

.icon * {
	fill: var(--text-color);
}

.weapon_buttons {
	display: flex;
	flex-direction: row-reverse;
}

.health_popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	border: unset;
	border-radius: 5px;
	background-color: var(--light-background-color);
	margin-top: 5px;
	color: var(--text-color);

	input {
		border: unset;
		outline: unset;
		text-align: center;
		max-width: 100px;
		
	}

	input[type=number] {
		appearance: auto;
		-moz-appearance: textfield;
	}

	input:focus {
		border: unset;
		outline: unset;
	}
}

.shop_variant_select {
	margin-bottom: 10px;
}