*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-color: #303030;
	--light-background-color:#424242;
	--dark-background-color:#212121;
	--highlight-color: #1da8df;
	--highlight-color-second: #dfd21d;
	--text-color: rgb(225, 236, 230);
}

@font-face {
	font-family: "Moonrising";
	src: 
		local("Moonrising")
}

body {
	font-family: 'Moonrising';
	cursor: default;
	background-color: var(--background-color);
	color: var(--text-color);
}

button {
	border: unset;
	border-radius: 3px;
	margin: 2px;
	font-family: inherit;
	font-size: inherit;
	padding: 2px 4px 2px 4px;
	color: var(--text-color);
	background-color: var(--highlight-color);
}

.base_div {

}

.columns {
	display: flex;
}

.skill_list {
	display: grid;
	grid-template-columns: 3fr 0.5fr;
	gap: 2px;
	border: var(--highlight-color) 2px solid;
	border-radius: 10px;
	padding: 10px;
}

.skill_list_cat_header {
	grid-column-start: span 2;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: bold;
	justify-self: center;
}

.skill_entry_name {
	justify-self: flex-start
}

.skill_entry_name:hover {
	color: var(--highlight-color);
}

.skill_entry_name:hover + .skill_entry_value {
	color: var(--highlight-color);
}

.skill_entry_name:has(+ .skill_entry_value:hover) {
	color: var(--highlight-color);
}

.skill_entry_value:hover {
	color: var(--highlight-color);
}

/* .skill_entry_stat {
	justify-self: center;
} */

.skill_entry_value {
	justify-self: flex-end;
}

.ammo_icon {
	width: 100px;
	height: 500px;
}

.ammo_bullet {
	fill: var(--highlight-color);
}

.center_div {

}

.combat_div {}

.health_border {
	position: fixed;
	display: grid;
	width: 100%;
	height: 30px;
	background-color: var(--light-background-color);
	grid-template-columns: repeat(20, 1fr);
	gap: 5px;
	padding: 5px;
	overflow: hidden;
}

.health_border::before {
	content: "health";
	z-index: 100;
	justify-self: center;
	align-self: center;
	position: fixed;
}

.health_bar {
	background-color: var(--highlight-color);
	grid-column: span 17;
}
.armor_bar {
	background-color: var(--highlight-color-second);
}