*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--background-color: #303030;
	--light-background-color:#424242;
	--dark-background-color:#212121;
	--highlight-color: #1da8df;
	--highlight-color-second: #dfd21d;
	--text-color: rgb(225, 236, 230);
	--warning-color: #b048e0;
}

@font-face {
	font-family: "Moonrising";
	src: 
		local("Moonrising")
}

body {
	font-family: 'Moonrising';
	cursor: default;
	background-color: var(--background-color);
	color: var(--text-color);
}

.name {
	margin-top: 5px;
	margin-bottom: 10px;
}

button {
	border: unset;
	border-radius: 3px;
	margin: 2px;
	font-family: inherit;
	font-size: inherit;
	padding: 2px 4px 2px 4px;
	color: var(--text-color);
	background-color: var(--highlight-color);
}

.base_div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.columns {
	display: flex;
	gap: 5px;
}

.center_div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.right_div {
	display: flex;
	flex-direction: column;
}

.bordered {
	border: var(--highlight-color) 2px solid;
	border-radius: 10px;
	padding: 10px;
}

.stat_entry {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.has_penalty {
	color: rgb(243, 59, 68);
}

.stat_view {
	@extend .bordered;
	display: flex;
	gap: 10px;
	padding: auto;
	max-width: fit-content
}

.skill_list {
	@extend .bordered;
	font-size: small;
	display: grid;
	grid-template-columns: 3fr 0.5fr;
	gap: 2px;
}

.skill_list_cat_header {
	grid-column-start: span 2;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-self: center;
}

.skill_entry_name {
	justify-self: flex-start
}

.skill_entry_name:hover {
	color: var(--highlight-color);
}

.skill_entry_name:hover + .skill_entry_value {
	color: var(--highlight-color);
}

.skill_entry_name:has(+ .skill_entry_value:hover) {
	color: var(--highlight-color);
}

.skill_entry_value:hover {
	color: var(--highlight-color);
}

/* .skill_entry_stat {
	justify-self: center;
} */

.skill_entry_value {
	justify-self: flex-end;
}

.ammo_icon {
	width: 100px;
	height: 500px;
}

.ammo_bullet {
	fill: var(--highlight-color);
}


.health_commons {
	width: 100%;
	height: 40px;
	padding: 5px;
}

.health_border {
	@extend .health_commons;
	display: grid;
	background-color: var(--light-background-color);
	gap: 5px;
	overflow: hidden;
}

.health_text {
	@extend .health_commons;
	z-index: 10;
	text-align: center;
	margin-top: -40px;
	font-size: large;
}

.health_bar {
	background-color: var(--highlight-color);
}

.health_bar_half_health {
	background-color: var(--warning-color);
}

.first_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.head_body_armor {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.armor_row {
	display: grid;
	height: 30px;
	gap: 5px;
	transform: skew(-10deg);
}

.armor_bar {
	width: 20px;
	background-color: var(--highlight-color-second);
	--armor-color: var(--highlight-color-second);
}

.head_armor_bar {
	@extend .armor_bar;
	background-color: var(--warning-color);
	--armor-color: var(--warning-color);
}

.armor_bar_empty {
	background-color: unset;
	border: 2px solid var(--armor-color);
}

.modal {
	display:flex;
	top:0;
	left:0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	padding: 1%;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: fit-content;
	height: fit-content;
	background-color: var(--main-bg-color);
	padding: 1.5rem;
	border-radius: 0.7rem;

	> p {
		margin-top:5px;
		max-width: 60vw;
	}

	> hr {
		margin-bottom:5px;
	}
}